
/* Styling for map */
.map .background {
    background:  #eee;
    pointer-events: all;
}

.map .map-layer {
    fill: #fff;
    stroke: #aaa;
}

.map .effect-layer {
    pointer-events: none;
}

.map .states {
    fill: none;
    stroke: #cacaca;
    stroke-linejoin: round;
}

.map .key {
    z-index: 500;
}


/* Toggle switch */


/* Data filters */
.filter {
    display: block;
    margin: 10px auto;
    align-items: center;
    color: #666;
}
