/* Map controls */
.map-panel-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
}

.filters-wrapper {
    flex: 1;
    height: 100%;
    max-width: 300px;
    min-width: 220px;
}
.filter-type-wrapper {
    margin: 2.5em auto;
}


/* Styling for map */
.map .background {
    background:  #eee;
    pointer-events: all;
}

.map .map-layer {
    fill: #fff;
    stroke: #aaa;
}

.map .effect-layer {
    pointer-events: none;
}

.map .states {
    fill: none;
    stroke: #cacaca;
    stroke-linejoin: round;
}

.map .key {
    z-index: 500;
}


/* Toggle switch */
.date-type-toggle button {
    font-size: 0.8em;
    width: 80px;
    height: 1.5em;
    text-transform: none;
    letter-spacing: normal;
    background-color: #f1f1f1;
    color: #bbb;
}
.date-type-toggle button:hover {
    background-color: #e5e5e5;
}
.date-type-toggle .checked {
    color: #666;
}
