h1 {
    font-weight: lighter;
}
h2, h3 {
    font-weight: normal;
}
/* style dropdown menu */
.dropm {
    background-color: #2b2b2d;
    color: #ccc;

    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.insidedrop {
    background-color: #2b2b2d;
    padding: 0;
    font-size: 14px;
    text-align: Left;
}

/* Container - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0,0,0,1),
                0 1px 30px rgba(0,0,0,1),
                0 4px 20px rgba(0,0,0,1),
                0 1px 4px rgba(0,0,0,1);
}
/* dropdown button format */

/* dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #0f0f11;
    min-width: 100px;
    max-width: 130px;
    overflow-y: hidden;
    z-index: 1;
}

/* Links insde the dropdown */
.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid black;
}

/* chnage color of dropdown links on hover */
.dropdown-content a:hover {
        background-color: #5d1c1c;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* change the background color of the dropdown button when the dropdown
content is shown */
.dropdown:hover .dropm {
    background-color: #2b2b2d;
    /* box-shadow: 0 1px 5px rgba(0,0,0,1),
                0 1px 30px rgba(0,0,0,1),
                0 4px 20px rgba(0,0,0,1),
                0 1px 4px rgba(0,0,0,1); */
}

.menu{
    width: 100px;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 1em;
    outline: red;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.round-button {
    width: 40px;
    height: 40px;
    /*margin: 1em;*/
    border-radius: 40px;
    /* margin-left: .5em; */
    text-align: center;
    line-height: 40px;
    color: #7a7c82;
    font-size: 1.5em;
    background-color: #5d1c1c;
}
.round-button span {
    text-align: center;
    width: 40px;
    margin: auto;
}
.round-button:hover {
    border: none;
    background-color: #9e5555;
    color: black;
}
/* .button-test {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 2em;
    margin: 1em;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: #7a7c82;
    font-size: 1.5em;
    background-color: #5d1c1c;
} */

.drop-down {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    padding: 0;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: #7a7c82;
    font-size: 1.5em;
    background-color: #5d1c1c;
}

.drop-down:hover {
    border: none;
    background-color: #9e5555;
    color: black;
  }

.button-test:hover {
    border: none;
    background-color: #9e5555;
    color: black;
}

.button span {
    text-align: center;
    width: 40px;
    margin: auto;
}
.scorecard-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.scorecard-wrapper .stats-box{
    color: #CCC;
}

.scorecard-wrapper .metric-wrapper {
    width: 33%;
    min-width: 200px;
}

.green {
    color: hsl(120, 35%, 50%);
}
.red {
    color: hsl(0, 55%, 60%);
}

.data-table-wrapper {
    max-height: 20em;
    height: 350px;
    width: 100%;
    margin: 2em 0;
}
.data-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    font-size: 0.8em;
}
.data-table thead tr {
    display: block;
    width: calc(100% - 17px);
}
.data-table th {
    background-color: #efefef;
    font-weight: normal;
}
.data-table tr {
    width: 100%;
}
.data-table tr.highlight {
    background-color: hsl(200, 95%, 44%);
}
.data-table tr.highlight td {
    color: #fff;
}
.data-table td, .data-table th {
    padding: 0 0.5em;
    width: 7em;
}
.data-table td {
    border: 1px solid #ddd;
}
.data-table tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}

.drag-area {
    width: 100%;
    min-width: 100%;
}
