<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scorecard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="styles/base.css" rel="stylesheet" type="text/css">
        <link href="styles/scorecard.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    <div class="content-wrapper">
            <h1>John Doe</h1>
            <div class="scorecard-wrapper">
                <!-- <widget-box
                  :params="closeRate"
                ></widget-box> -->

                <div class="metric-wrapper stats-box">
                    <h2 class="descriptor">DIRECTV Sales</h2>
                    <h3>Today</h3>
                    <p class="metric calls green">2</p>
                    <h3>Month to Date</h3>
                    <p class="metric green">33</p>
                    <data-table
                      :data="dtvData"
                      :meta="dtvMeta"
                    ></data-table>
                </div>

                <div class="metric-wrapper stats-box aht" v-if="showAHT">
                    <h2 class="descriptor">AHT</h2>
                    <h3>Today</h3>
                    <p class="metric" v-bind:title="metricDescription">10:06</p>
                    <h3>Month to Date</h3>
                    <p class="metric">09:31</p>
                    <data-table
                      :data="ahtData"
                      :meta="ahtMeta"
                    ></data-table>
                </div>

                <div class="metric-wrapper stats-box" v-if="showProductivity">
                    <h2 class="descriptor">Productivity</h2>
                    <h3>Today</h3>
                    <p class="metric available red">71%</p>
                    <h3>Month to Date</h3>
                    <p class="metric available green">86%</p>
                    <data-table
                      :data="productivityData"
                      :meta="productivityMeta"
                    >{{ productivityData }}</data-table>
                </div>
            </div>
        </div>

    </body>

    <!-- <script src="https://d3js.org/d3.v2.min.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script> -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="./javascript/moment.min.js" type="text/javascript"></script>
    <script src="./javascript/gauge.js" type="text/javascript"></script>
    <script src="./javascript/scorecard.js" type="text/javascript"></script>
</html>
