<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TestDesign</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="styles/scoredetail.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    <!-- <div class="dropdown">
        <button class="dropm">&#9776;</button>
        <div class="dropdown-content">
            <button
                class="insidedrop"
                @click="$store.commit('toggleEditMode')"
                id="toggle-edit-mode">
                <a> Edit Mode </a>
            </button>
            <button class="insidedrop"> <a>+ Link 2</a> </button>
            <button class="insidedrop"> <a>Link 3</a> </button>
        </div>
    </div> -->
    <div id="app" class="content-wrapper">
        <div class="dropdown">
            <button class="dropm">&#9776;</button>
            <div class="dropdown-content">
                <button
                    class="insidedrop"
                    @click="$store.commit('toggleEditMode')"
                    id="toggle-edit-mode">
                    <a> Edit Mode </a>
                </button>
                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="exportLayout"
                    id="export-layout">
                    <a> Format </a>
                </button>
                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="exportLayout"
                    id="export-layout">
                    <a> Export </a>
                </button>
                <button class="insidedrop"> <a>Link 3</a> </button>
            </div>
        </div>
        <div class="scorecard-wrapper">
            <card
                v-for="(card, i) in layout.cards"
                v-bind="card"
                :key="i"
            ></card>
        </div>

        <!-- <button
            class="drop-down"
            @click="toggleMenu">
            &#9776;
        </button>
        <div class="menu" v-if="menuIsActive">
            <ul>
                <li>
                    <button
                        class="round-button"
                        v-if="$store.state.editMode"
                        @click="addCard"
                    >></button>
                </li>
                <li>
                    <button
                        class="round-button"
                        v-if="$store.state.editMode"
                        @click="addCard"
                    >Test 2</button>
                </li>
            </ul>
        </div> -->

        <!-- <button
            class = "insidedrop"
            @click="$store.commit('toggleEditMode')"
            id="toggle-edit-mode">
            Edit Mode
        </button>
        <button
            v-if="$store.state.editMode"
            @click="exportLayout"
            id="export-layout">
            Export
        </button> -->

    </div>
    </body>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="./javascript/moment.min.js" type="text/javascript"></script>
    <script src="./javascript/gauge.js" type="text/javascript"></script>
    <script src="./assets/scorecard.js" type="text/javascript"></script>
</html>
